{:profiles {:Default {:default true :alone 500}}
 :devices {:keychron [{:vendor_id 13364 :product_id 1553}]}
 :applications {:utm ["^com\\.utmapp\\.UTM$"]}
 :main [{:des "Post Esc if Caps is tapped, Control if held"
         :rules [[:##caps_lock :left_control [:!utm] {:alone :escape}]]}

        {:des "UTM: Post Esc if Caps is tapped, Command if held"
         :rules [[:##caps_lock :left_command [:utm] {:alone :escape}]]}
        
        {:des "Control + Backspace = Delete"
         :rules [[:!Tdelete_or_backspace :delete_forward]]}

        {:des "Ctrl HJKL Arrow keys"
         :rules [[:!Th :left_arrow] [:!Tj :down_arrow] [:!Tk :up_arrow] [:!Tl :right_arrow]]}

        {:des "German PC-Style Shortcuts"
         :rules [[:!O##hyphen :!SO7 [:!utm]] ;; \
                 [:!E##hyphen :!SO7 [:!utm]]
                 [:!O##q :!El [:!utm]] ;; @
                 [:!E##q :!El [:!utm]]
                 [:!E##close_bracket :!On [:!utm]] ;; ~
                 [:!O##7 :!E8 [:!utm]] ;; {
                 [:!E##7 :!E8 [:!utm]]
                 [:!O##0 :!E9 [:!utm]] ;; }
                 [:!E##0 :!E9 [:!utm]]
                 [:!O##8 :!E5 [:!utm]] ;; [
                 [:!E##8 :!E5 [:!utm]]
                 [:!O##9 :!E6 [:!utm]] ;; ]
                 [:!E##9 :!E6 [:!utm]]]}

        {:des "Switch grave_accent_and_tilde and non_us_backslash"
         :rules [[:!O##grave_accent_and_tilde :!E7 [:!keychron :!utm]] ;; |
                 [:!E##grave_accent_and_tilde :!E7 [:!keychron :!utm]]
                 [:!O##non_us_backslash :!E7 [:keychron :!utm]]
                 [:!E##non_us_backslash :!E7 [:keychron :!utm]]
                 [:##grave_accent_and_tilde :non_us_backslash [:!keychron :!utm]] ;; swap
                 [:##non_us_backslash :grave_accent_and_tilde [:!keychron :!utm]]]}

        {:des "Keychron: right_control to right_option"
         :rules [[:right_control :right_option [:keychron]]]}

        {:des "Keyboard Illumination"
         :rules [[:##f5 :illumination_decrement] [:##f6 :illumination_increment]]}
]}

