{:profiles {:Default {:default true :alone 500}}
 :main [{:des "Post Esc if Caps is tapped, Control if held"
         :rules [[:##caps_lock :left_control nil {:alone :escape}]]}
        
        {:des "Control + Backspace = Delete"
         :rules [[:!Tdelete_or_backspace :delete_forward]]}

        {:des "Ctrl HJKL Arrow keys"
         :rules [[:!Th :left_arrow] [:!Tj :down_arrow] [:!Tk :up_arrow] [:!Tl :right_arrow]]}

        {:des "German PC-Style Shortcuts"
         :rules [[:!O##hyphen :!SO7] ;; \
                 [:!E##hyphen :!SO7]
                 [:!O##q :!El] ;; @
                 [:!E##q :!El]
                 [:!O##grave_accent_and_tilde :!E7] ;; |
                 [:!E##grave_accent_and_tilde :!E7]
                 [:!E##close_bracket :!On] ;; ~
                 [:!O##7 :!E8] ;; {
                 [:!E##7 :!E8]
                 [:!O##0 :!E9] ;; }
                 [:!E##0 :!E9]
                 [:!O##8 :!E5] ;; [
                 [:!E##8 :!E5]
                 [:!O##9 :!E6] ;; ]
                 [:!E##9 :!E6]]}

        {:des "Keyboard Illumination"
         :rules [[:##f4 :illumination_decrement] [:##f5 :illumination_increment]]}
]}

